span {
    padding: 5px;
}

#control, .todoContainer {
    background-color: cadetblue;
    border: 3px solid rgb(73, 73, 102);
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin: 3px;
}

button {
    padding: 5px 10px;
}

ul {
    list-style-type: none;
}

.todoContainer {
    position: relative;
    height: 20%;
}

.todoContainer  button{
    position: absolute;
    right: 2px;
}

#control div{
    position: relative;
}

#editButton {
    position: absolute;
    right: 3px;
}